<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .central{
            text-align:center;
        }

    </style>
</head>
<body>
    <div class="central">

         <form action="{% url 'insert' %}" method="post">
            {% csrf_token %}
           <span>Are you admin?:  </span>
        <input class="block" type="checkbox" value="True" name="admin_True" ></br>
            <input class="block" type="submit" value="Log in"/></br>


        </form>
    </div>
</body>
</html>

